
<br>
  <a href = "/">
           Retour au menu

  <div class = "text-center">
  </a><br>
  <p><h2>Voici la liste de films :</h2></p>
<br><br>

  <% if @movies != nil %>

    <% @movies.each do |movie| %>
<br><br>
      <p> <strong><%= movie["title"] %> , sorti le: <%= movie["release_date"] %></strong></p>
      <% url = "https://www.themoviedb.org/movie/" + movie["id"].to_s %>
      <p> <%= link_to "Plus d'infos", url %> </p>

<!-- Affichage image -->
        <% if movie["poster_path"] != nil %>
          <% url = "https://image.tmdb.org/t/p/w200" + movie["poster_path"] %>
          <img src= <%= url %> />
        <% end %>

      <% end %>


  <% else %>
  <p>Aucun résultat</p>
  <% end %>


  </div>
