<h1>Movies#search</h1>

<p>Coucou, entre ici le film que tu veux chercher</p>
<%= form_for(:home, url: {action: "result"}) do |f| %>
     <%= f.label :film %><br>
     <%= f.text_field :title %>
     <p><%=f.submit "Envoyer" %></p>
  <% end %>
